<?xml version="1.0"?>
<!--
/**
* Ffuenf_Pagespeed extension
*
* NOTICE OF LICENSE
*
* This source file is subject to the MIT License
* that is bundled with this package in the file LICENSE.txt.
* It is also available through the world-wide-web at this URL:
* http://opensource.org/licenses/mit-license.php
*
* @category   Ffuenf
*
* @author     Achim Rosenhagen <a.rosenhagen@ffuenf.de>
* @copyright  Copyright (c) 2015 ffuenf (http://www.ffuenf.de)
* @license    http://opensource.org/licenses/mit-license.php MIT License
*/
-->
<config>
    <modules>
        <Ffuenf_Pagespeed>
            <version>1.0.3</version>
        </Ffuenf_Pagespeed>
    </modules>
    <global>
        <helpers>
            <ffuenf_pagespeed>
                <class>Ffuenf_Pagespeed_Helper</class>
            </ffuenf_pagespeed>
        </helpers>
        <models>
            <pagespeed>
                <class>Ffuenf_Pagespeed_Model</class>
            </pagespeed>
        </models>
        <blocks>
            <pagespeed>
                <class>Ffuenf_Pagespeed_Block</class>
            </pagespeed>
        </blocks>
        <events>
            <catalog_product_save_commit_after>
                <observers>
                    <pagespeed_catalog_product_save_commit_after>
                        <class>pagespeed/observer_clear</class>
                        <method>clearCache</method>
                    </pagespeed_catalog_product_save_commit_after>
                </observers>
            </catalog_product_save_commit_after>
            <clean_media_cache_after>
                <observers>
                    <pagespeed_clean_media_cache_after>
                        <class>pagespeed/observer_clear</class>
                        <method>clearCache</method>
                    </pagespeed_clean_media_cache_after>
                </observers>
            </clean_media_cache_after>
            <clean_catalog_images_cache_after>
                <observers>
                    <pagespeed_clean_catalog_images_cache_after>
                        <class>pagespeed/observer_clear</class>
                        <method>clearCache</method>
                    </pagespeed_clean_catalog_images_cache_after>
                </observers>
            </clean_catalog_images_cache_after>
            <cms_page_save_commit_after>
                <observers>
                    <pagespeed_cms_page_save_commit_after>
                        <class>pagespeed/observer_clear</class>
                        <method>clearCache</method>
                    </pagespeed_cms_page_save_commit_after>
                </observers>
            </cms_page_save_commit_after>
            <adminhtml_cache_flush_system>
                <observers>
                    <pagespeed_adminhtml_cache_flush_system>
                        <class>pagespeed/observer_clear</class>
                        <method>clearCache</method>
                    </pagespeed_adminhtml_cache_flush_system>
                </observers>
            </adminhtml_cache_flush_system>
            <adminhtml_cache_flush_all>
                <observers>
                    <pagespeed_adminhtml_cache_flush_all>
                        <class>pagespeed/observer_clear</class>
                        <method>clearCache</method>
                    </pagespeed_adminhtml_cache_flush_all>
                </observers>
            </adminhtml_cache_flush_all>
        </events>
    </global>
    <frontend>
        <routers>
            <pagespeed>
                <use>standard</use>
                <args>
                    <module>Ffuenf_Pagespeed</module>
                    <frontName>pagespeed</frontName>
                </args>
            </pagespeed>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <pagespeed after="Mage_Adminhtml">Ffuenf_Pagespeed</pagespeed>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <pagespeed>
                    <file>ffuenf_pagespeed.xml</file>
                </pagespeed>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <pagespeed>
            <general>
                <enabled>0</enabled>
                <filecachepath>/var/ngx_pagespeed_cache</filecachepath>
                <cacheflushfilename>cache.flush</cacheflushfilename>
            </general>
        </pagespeed>
    </default>
    <phpunit>
        <suite>
            <modules>
                <Ffuenf_Pagespeed/>
            </modules>
        </suite>
    </phpunit>
</config>