<?xml version="1.0"?>
<config>
  <modules>
    <Ffuenf_Pagespeed>
      <version>1.0.1</version>
    </Ffuenf_Pagespeed>
  </modules>
  <global>
    <helpers>
      <ffuenf_pagespeed>
        <class>Ffuenf_Pagespeed_Helper</class>
      </ffuenf_pagespeed>
    </helpers>
    <models>
      <ffuenf_pagespeed>
        <class>Ffuenf_Pagespeed_Model</class>
      </ffuenf_pagespeed>
    </models>
    <blocks>
      <ffuenf_pagespeed>
        <class>Ffuenf_Pagespeed_Block</class>
      </ffuenf_pagespeed>
    </blocks>
    <events>
      <catalog_product_save_commit_after>
        <observers>
          <ffuenf_pagespeed_catalog_product_save_commit_after>
            <class>ffuenf_pagespeed/observer_clear</class>
            <method>clearCache</method>
          </ffuenf_pagespeed_catalog_product_save_commit_after>
        </observers>
      </catalog_product_save_commit_after>
      <clean_media_cache_after>
        <observers>
          <ffuenf_pagespeed_clean_media_cache_after>
            <class>ffuenf_pagespeed/observer_clear</class>
            <method>clearCache</method>
          </ffuenf_pagespeed_clean_media_cache_after>
        </observers>
      </clean_media_cache_after>
      <clean_catalog_images_cache_after>
        <observers>
          <ffuenf_pagespeed_clean_catalog_images_cache_after>
            <class>ffuenf_pagespeed/observer_clear</class>
            <method>clearCache</method>
          </ffuenf_pagespeed_clean_catalog_images_cache_after>
        </observers>
      </clean_catalog_images_cache_after>
      <cms_page_save_commit_after>
        <observers>
          <ffuenf_pagespeed_cms_page_save_commit_after>
            <class>ffuenf_pagespeed/observer_clear</class>
            <method>clearCache</method>
          </ffuenf_pagespeed_cms_page_save_commit_after>
        </observers>
      </cms_page_save_commit_after>
      <adminhtml_cache_flush_system>
        <observers>
          <ffuenf_pagespeed_adminhtml_cache_flush_system>
            <class>ffuenf_pagespeed/observer_clear</class>
            <method>clearCache</method>
          </ffuenf_pagespeed_adminhtml_cache_flush_system>
        </observers>
      </adminhtml_cache_flush_system>
      <adminhtml_cache_flush_all>
        <observers>
          <ffuenf_pagespeed_adminhtml_cache_flush_all>
            <class>ffuenf_pagespeed/observer_clear</class>
            <method>clearCache</method>
          </ffuenf_pagespeed_adminhtml_cache_flush_all>
        </observers>
      </adminhtml_cache_flush_all>
    </events>
  </global>
  <frontend>
    <routers>
      <ffuenf_pagespeed>
        <use>standard</use>
        <args>
          <module>Ffuenf_Pagespeed</module>
          <frontName>ffuenf_pagespeed</frontName>
        </args>
      </ffuenf_pagespeed>
    </routers>
  </frontend>
  <admin>
    <routers>
      <adminhtml>
        <args>
          <modules>
            <ffuenf_pagespeed after="Mage_Adminhtml">Ffuenf_Pagespeed</ffuenf_pagespeed>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>
  <adminhtml>
    <layout>
      <updates>
        <ffuenf_pagespeed>
          <file>ffuenf_pagespeed.xml</file>
        </ffuenf_pagespeed>
      </updates>
    </layout>
  </adminhtml>
  <default>
    <ffuenf>
      <pagespeed>
        <general>
          <enable>0</enable>
          <filecachepath>/var/ngx_pagespeed_cache</filecachepath>
          <cacheflushfilename>cache.flush</cacheflushfilename>
        </general>
      </pagespeed>
    </ffuenf>
  </default>
  <phpunit>
    <suite>
      <modules>
        <Ffuenf_Pagespeed/>
      </modules>
    </suite>
  </phpunit>
</config>